:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #578ab362;
  --TextAccent: #71afe2;
  --accent-bg: rgba(59, 65, 255, 0.1);
  --accent-bg-light: rgba(59, 88, 255, 0.08);
  --accent-border: rgba(59, 88, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #578ab362;
    --accent-bg: rgba(132, 138, 252, 0.15);
    --accent-border: rgba(117, 119, 204, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 90px;
  letter-spacing: -1.68px;
  line-height: 118%;
  user-select: none;
  margin: 40px 0 20px;
  font-weight: bold;

  
}

@media(max-width: 1024px) {
  h1 {
    font-size: 60px;
    margin: 64px 10px;
  }
  h2{
    font-size: 30px;
  }
  .container {
    flex-direction: column;
  }
  .image-container{
    width: 100%;
  }
  :root {
    font-size: 16px;
  }
}

@media(max-width: 600px) {
  h1 {
    font-size: 50px;
    margin: 64px 10px;
  }
}

h2 {
  font-size: 40px;
  line-height: 118%;
  letter-spacing: 2px;
  user-select: none;
  margin: 0 0 8px; 
  font-weight: bold;
  /* @media (max-width: 1024px) {
    font-size: 30px;
  } */
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  /* @media (max-width: 1024px) {
    flex-direction: column;
  } */
}

img {
  max-width: 100%;
}

.image-container {
  flex: 1;
  min-width: 0;
  border: 3px solid var(--accent);
  border-radius: 8px;
  /* @media (max-width: 1024px) {
    width: 1;
  } */
}

pre {
  font-family: monospace;
  white-space: pre;
  font-size: 6px;
  line-height: 6px;
  margin: 0;
}

.ascii {
  display: flex;
  flex-direction: column;
}

.ascii pre {
  flex: 1;
  overflow: hidden;
  margin: 10px 0 20px;
}

.uploaded-img {
  margin: 10px 0 20px;
  object-fit: contain;
  width: 90%;
}

.file {
  color: #fff;
  border: none;
  padding: 15px 20px 10px;
  border-radius: 4px;
  border: 1px solid var(--border);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  background-color: var(--code-bg);
}

button {
  width: 50%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid var(--border);
  background-color: var(--code-bg);
  font-weight: bold;
  letter-spacing:1px;
  margin-bottom: 10px;
}

button:hover {
  background-color: var(--accent-bg);
  border-color: var(--accent-border);
  cursor: pointer;
}

.file:hover {
  background-color: var(--accent-bg);
  border-color: var(--accent-border);
}

.image-container h2 {
  margin-top:10px;
}

h1:active, h2:active {
  color: var(--TextAccent);
  transition: color 0.3s ease;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-top:20px;
}

.item {
  background-color: var(--code-bg);
  border: 1px solid var(--border);
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

.grid-container {
  margin: 20px;
  padding: 20px;
  border: 3px solid var(--accent);
  border-radius: 8px;
}

.selected {
  background-color: var(--accent-bg);
  border-color: var(--accent-border);
}

.item:hover {
  background-color: var(--accent-bg-light);
  border-color: var(--accent-border);
  cursor: pointer;
}
.selected:hover {
  background-color: var(--accent-bg);
  border-color: var(--accent-border);
  cursor: default;
}